###################################
# Configuration file for mksnap.pl
###################################
#
# Usage:
# parameter=value
#
#
#--------
# mksnap 
#--------
# Used on the sending side, i.e always use zsnap.pl --mksnap
# No default value, could be true or false
mksnap=true

#
#--------
# rdsnap 
#--------
# Used on the recieving side, i.e always use zsnap.pl --rdsnap
# No default value, could be true or false
rdsnap=false

#
#--------
# destdir 
#--------
# Used on the sending side.
# This directory is used for storing the zfs snapshot and 
# all other files created to support this system
# No default value
#
destdir=/var/tmp/destdir

#----------
# transdir
#----------
# Used on the sending side.
# This directory is used as the transit directory.
# Some other tool should pick the files here and
# move them to another computer (to "srcdir")
# No default value
#
transdir=/var/tmp/transdir

#--------
# srcdir
#--------
# Used on the receiving side
# This is the directory that zsnap.pl looks for files on
# the receiving side. They got here from "transdir" on
# the sending side.
# No default value
#
srcdir=/var/tmp/transdir

#
#-------------
# maxtransfer
# ------------
# The maxtransfer tells mksnap.pl to wait after sending "maxtransfer" bytes
# Defaults to 2GB, When set to a value larger then 0, zsnap.pl waits until
# the files have disapperad until it continues. If you dont want this behaviour
# set maxtransfer to 0.
#maxtransfer=

#
#------------
# zfscommand
#------------
# The zfscommand tells mksnap.pl which zfs binary to use.
# Defaults to /sbin/zfs
#zfscommand=

#
#------------
# splitbytes
#------------
#
# The splitbytes tells mksnap.pl who large the files from split should be.
# ( The -bytes sent to split )
# Defaults to 512MB
#splitbytes=

#
#----------
#  lockdir
#----------
# The lockdir tells mksnap.pl in which directory to put it's lockfiles
# Defaults to /tmp
#lockdir=

